#user-input {
    outline: none;
    border: none;
    height: 50px;
    font-size: 1.5rem;
    color: grey;
    border-radius: 20px;
}

#user-label {
    color: white;
    text-shadow: 0 2px 5px blue;
    font-size: 1.3rem;
}