.input-user.invalid {
    box-shadow: 0 0 3px red;
    border: 2px solid red;
    background: rgba(230, 117, 117, 0.3);
}

.input-user {
    color: black;
    border-radius: 10px !important;
}

.input-user.edit {
    background: rgba(0, 123, 254, 0.4);
}

#user-label {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 0 1px black;
}
