.user-info, .user-name {
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.user-name {
    padding: 5px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: center;

}

.summary {
    width: 100%;
}

.personal-details {
    width: 100%;
}

.interests, .interests-list {
    width: 100%;
}

.person-icon {
    font-size: 3rem;
    text-shadow: 0 0 2px black;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 500ms ease-in-out;
}

.person-icon:hover {
    color: red !important;
}

.person-icon::after {
    content: "Change name";
    color: red;
    font-size: 1.2rem;
    letter-spacing: 0;
    text-transform: uppercase;
    text-shadow: 0 0 2px black;
    display: inline-block;
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.person-icon:hover::after {
    opacity: 1;
}
