.user-info, .user-name {
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background: rgba(216, 212, 212, 0.3);
}

.user-name {
    padding: 5px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: center;

}

.summary {
    width: 100%;
    justify-content: center;
}

.personal-details {
    width: 100%;
}

.interests, .interests-list {
    width: 100%;
}

.person-icon {
    font-size: 3rem;
    text-shadow: 0 0 2px black;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 500ms ease-in-out;
}

.person-icon:hover {
    color: red !important;
}

.person-icon::after {
    content: "Change data";
    color: red;
    font-size: 1.2rem;
    letter-spacing: 0;
    text-transform: uppercase;
    text-shadow: 0 0 2px black;
    display: inline-block;
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.person-icon:hover::after {
    opacity: 1;
}

.personal-details {
    display: flex;
    align-items: flex-start;
}

.personal-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    height: 100%;
    border-right: 2px solid rgba(25, 82, 111, 0.4);
}

.personal-detail:last-child {
    border: none;
}


.personal-detail ul,
.personal-detail p {
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    list-style: none;
}

.personal-detail ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.detail-icon {
    text-shadow: 0 0 1px white;
    margin-right: 5px;
}

.social-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

@media (max-width: 800px) {
    .personal-detail {
        height: auto;
        border: none;
    }

    .social-link {
        justify-content: center;
    }

    .user-name {
        margin-top: 20px;
    }

    .user-info {
        font-size: 1.3rem;
    }
}

