.news-main {
    display: flex;
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22vh;
    text-align: center;
    background: rgba(216, 212, 212, 0.3);
    position: relative;
}

.news-main p {
    margin: 0;
}

.news-wrapper {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.news-info {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
}

.news-content {
    width: 35%;
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 60px;
    align-items: center;
    font-size: 0.8rem;
    background-image: url("http://cdn.onlinewebfonts.com/svg/img_238294.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0 0 1px black;
    text-align: center;
    line-height: 1;

}

.news-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background: rgba(0, 123, 254, 0.4);
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 0 0 3px white;
}

.news-user--name {
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
    letter-spacing: 3px;
    height: 100%;
    width: 70%;
}

.news-image {
    position: absolute;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
    border: 4px solid rgb(0, 123, 254);
    left: -40px;
    top: calc(8vh - 40px);
}

.news-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.btn-like {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.news-user--date {
    font-size: 0.7rem;
    align-self: flex-start;
    width: 30%;
}