.wall-wrapper {
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin-top: 20px;
}

.wall-posts {
    position: relative;
    box-shadow: 0 0 8px black;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(216, 212, 212, 0.3);
    border-radius: 10px;
    margin-bottom: 10px;
}

.wall-posts .form-group {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

.wall-posts .form-group textarea {
    height: 100%;
    background: rgba(216, 212, 212, 0.3);
    color: black;
    border: 3px solid rgba(0, 123, 254, 0.5);
}

.wall-posts .form-group + button {
    border-radius: 10px;
}

.posts-board {
    max-height: 100vh;
    overflow: scroll;
    width: 100%;
}


@media (max-width: 770px) {
    .posts-board {
        max-height: 70vh;
    }
}
