.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/bg-main.jpg");
    box-shadow: 0 0 20px black;
    border-radius: 10px;
}

.auth-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-bg {
    width: 100%;
    opacity: 0.9;
}

.user-form {
    background: rgba(239, 233, 233, 0.6);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.img-wrapper-main {
    position: relative;
}

.main-bg-gif {
    width: 200px;
    position: absolute;
    left: 150px;
    bottom: -50px;
}


