.picture-user {

}

.photo-loader {
    display: none;
}

.upload-hint {
    display: none;
}

.camera {
    font-size: 6rem;
}

.choose-picture {
    padding: 20px;
    width: 100%;
    height: 300px;
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(216, 212, 212, 0.3);
}