.empty-data {
    font-size: 4rem;
    color: rgba(0, 123, 254, 0.6);
    transition: all 400ms linear;
    position: relative;
    cursor: pointer;
}

.empty-data:hover {
    color: red;
}

.empty-data::after {
    content: "Add info";
    color: red;
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 0 0 2px black;
    display: inline-block;
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.empty-data:hover::after {
    opacity: 1;
}

.personal-detail li {
    font-size: 0.8rem;
}

@media (max-width: 990px) {
    .personal-detail h5 {
        font-size: 0.9rem;
    }
}

@media (max-width: 770px) {
    .personal-detail h5 {
        font-size: 1.5rem;
    }
}