body {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive !important;
  box-sizing: border-box;
  background: url("https://elitefon.ru/pic/201211/1920x1080/elitefon.ru-1991.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
