body {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive !important;
  box-sizing: border-box;
  background: url("https://www.desktopbackground.org/download/2000x1500/2014/01/03/695656_blue-wallpapers-2e6_2560x1600_h.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
